{{!-- Reminder- this is a partial! Handlebars will render this code for as many '{{#each examples}}' that exist!
{{!-- Partials are invoked in /views/ by using the syntax: {{> partial-file-name}} --}}

        <div class="job-listing">
            <div class="job-title">{{title}}</div>
            <div class="job-location">{{location.display_name}}</div>
            <div class="job-salary">{{salary_min}} - {{salary_max}}</div>
        </div>

