<div>
  {{! Profile page }}
  {{! Reminder: userExamples comes from the data being passed in the res.render on pageOneRoutes.js! }}

    <form class="addJob-form">
      <div class="form-group">
        <label for="jobTitle">Job Title</label>
        <input type="text" id="jobTitle" name="jobTitle" required />
      </div>

      <div class="form-group">
        <label for="companyName">Company Name</label>
        <input type="text" id="companyName" name="companyName" required />
      </div>

      <div class="form-group">
        <label for="description">Job Description</label>
        <textarea id="description" name="description" required></textarea>
      </div>

      <div class="form-group">
        <label for="salaryMin">Minimum Salary</label>
        <input type="number" id="salaryMin" name="salaryMin" required />
      </div>

      <div class="form-group">
        <label for="salaryMax">Maximum Salary</label>
        <input type="number" id="salaryMax" name="salaryMax" required />
      </div>

      <div class="form-group">
        <label for="remote">Remote</label>
        <input type="checkbox" id="remote" name="remote" />
      </div>

      <div class="form-group">
        <button type="submit">Submit</button>
      </div>
    </form>
</div>
<script src="/js/addJob.js"></script>

{{! <form id="MyJobPost">
<label for="username">Username:</label>
    <input type="text" id="username" name="name">
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    
    <button type="submit">Submit</button>
</form>

<!-- Handlebars Template Script -->
<script id="form-template" type="text/x-handlebars-template">
    <form id="myJobPost">
        <label for="username">Username:</label>
        <input type="text" id="name" name="username">
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        
        <button type="submit">Submit</button>
    </form>
</script> }}