#job-title, #company-title, #description, #salary {
    display: flex;
    justify-content: center;
    justify-content: space between;

    
}

#job-board-heading {
    display: flex;
    justify-content: center;
    font-size: 55px;
}
